<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>近くのコミュニティ投稿を表示し、現在地に投稿するために位置情報を使用します。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>近くの投稿の通知を受け取るために位置情報を使用します。</string>
</dict>
</plist>
